ROOTFS_TYPE="ubuntu"
ROOTFS_VERSION="24.04"
ROOTFS_DESKTOP="gnome"
RK_KERNEL_VERSION="7.4"
RK_KERNEL_CFG="linux_rk3588_defconfig"
RK_KERNEL_DTS_NAME="rk3588-orangepi-5-plus"
RK_UBOOT_CFG="evb-rk3588_defconfig"
